doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title VC Test

  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
  
  style.
    a:hover {
      text-decoration: none;
    }
    ul {
      list-style: none;
    }

  script(src='https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js', defer)
  
  script(defer, src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
  script(defer, src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

  script(src='/voice.js', defer)
body
  .container
    each channelId in Array.from(voiceChannels.keys())
      a.text-muted(href='/join-voice/' + channelId)
        i.fas.fa-volume-up
        span.pl-2 Voice Channel [#{channelId}]
        ul.voice-users
          for id in getVoice(channelId).memberIds
            li #{getUser(id).username}
          else
            span.text-muted No-one here yet...

    a(href='/leave-voice', class='btn btn-danger') Leave